---
layout: default
lang: en
title: AliExpress Phones Deals
---

<h1>📱 Phone Deals</h1>

<p>
Best smartphone and accessory deals from AliExpress.
</p>


<div class="home-grid">

{% for item in site.data.items %}
  {% if item.lang == "en" and item.store == "aliexpress" and item.category == "phones" %}

    <div class="home-card">

      {% if item.image %}
        <img src="{{ item.image }}">
      {% endif %}

      <h3>{{ item.title }}</h3>

      <p>{{ item.desc }}</p>

      <a href="{{ item.link }}" target="_blank">
        Activate Deal
      </a>

    </div>

  {% endif %}
{% endfor %}

</div>

