---
layout: default
title: Скидки AliExpress — Rialto
lang: ru
---

<div class="feed">

{% assign lang = page.lang | default: "ru" %}
{% assign items = site.data.items %}

{% for item in items %}

{% assign title = item.title[lang] | default: item.title.ru | default: item.title.en %}
{% assign price = item.price_fmt[lang] | default: item.price_fmt.ru | default: item.price_fmt.en %}

<div class="deal">

  <img
    src="{{ item.image }}"
    loading="lazy"
    alt="{{ title }}"
  >

  <div>

    <h3 class="deal-title">{{ title }}</h3>

{% assign desc = item.desc[lang]
   | default: item.desc.ru
   | default: item.desc.en %}

{% if desc %}
  <p class="deal-desc">{{ desc }}</p>
{% endif %}


    <div class="price">
      {{ price }}
    </div>

    <a
      class="btn"
      href="{{ item.link }}"
      target="_blank"
      rel="nofollow noopener"
    >
      Купить в Aliexpress
    </a>

  </div>

</div>

{% endfor %}

</div>
