:root {
  --bg: #f3f3f5;
  --card: #ffffff;
  --text: #111;
  --muted: #777;
  --accent: #7b2cff;
  --price: #ff3d00;
}

[data-theme="dark"] {
  --bg: #121212;
  --card: #1e1e1e;
  --text: #f1f1f1;
  --muted: #aaa;
}

body {
  background: var(--bg);
  color: var(--text);
}
