<!DOCTYPE html>
<html lang="{{ page.lang }}">
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/style.css">
</head>
  <footer class="footer">
  <a href="https://t.me/rialtokz" target="_blank" rel="noopener">
    Rialto: Telegram
  </a>
</footer>

<body>

<div class="top">
  <strong>Rialto</strong>
<nav class="lang">
  <a href="/en/"
     class="{% if page.lang == 'en' %}active{% endif %}">
    EN
  </a>

  <a href="/ru/"
     class="{% if page.lang == 'ru' %}active{% endif %}">
    RU
  </a>

  <a href="/kz/"
     class="{% if page.lang == 'kk' %}active{% endif %}">
    KZ
  </a>
</nav>

</div>

{{ content }}

</body>
</html>
